// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";

// тестовые стили, удалите их
.page__body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--vh);
}

.single-page{
    background: url('../img/paper.png');

    .page-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }

    .page-title{
        font-size: 35px;
    }

    .page-img{
        border-radius: 8px;
        width: 80%;
        object-fit: contain;
        aspect-ratio: 1;
    }

    .page-descr{
        font-size: 18px;
    }
}
